# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Virtual environment
unievents-venv/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment secrets
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
